:root {
  --main-bg-color: teal;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.text {
  font-weight: 300;
  font-size: 2.5rem;
}

.red {
  font-weight: 500;
  color: red;
}

.green {
  font-weight: 500;
  color: green;
}

.input {
  font-weight: 300;
  font-size: 2.2rem;
  margin: 20px 0px;
  padding: 4px 12px;
  border: 1px solid var(--main-bg-color);
  border-radius: 4px;
  box-shadow: 0 0 2px var(--main-bg-color);
}

.input:focus {
  outline: none;
  border: 1px solid var(--main-bg-color);
  box-shadow: 0 0 4px var(--main-bg-color);
}

.btn {
  border-radius: 12px;
  margin: 10px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: var(--main-bg-color);

  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.center {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col {
  flex-direction: column;
}

.mb-4 {
  margin-bottom: 1rem;
}

.narrow {
  max-width: 100px;
}

.Home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
